# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.sdf
*.sln
*.pdb
*.ipdb
*.iobj
*.ilk
*.tlog
*.log
*.filters
*.vcxproj
*.suo
*.png
*.txt
*.opendb

# Directories
.vs/
x64/
